/* Navbar */
.Navbar{
    left: 0;
    top: 0;
    position: relative;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 61px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

.elements-navbar{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.top-list{
    list-style:none;
    display: flex;
    align-items: center;

}

.starbucks-logo{
    padding-left: 160px;
    height: 125%;
    width: 5%;
}

.top-words{
    font-family: 'Roboto', sans-serif;

}

.tw{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.tw1{
    margin-right: 40px;
}

.right-word{
    margin-left: 559px;
    margin-right: 39px;
    font-family: 'Roboto', sans-serif;
}

.button-1{
    border-radius: 30px;
    height: 29px;
    width: 100px;
    margin-right: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: white;
    color: black;
    font-weight: bold;
}

.button-2{
    border-radius: 30px;
    height: 29px;
    width: 75px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: black;
    color: white;
    font-weight: bold;
}

/*Main section*/
.main-container{
    width: 100%;
}

.container{
    width: 1399px;
    height: 410px;
    margin-bottom: 27px;
    margin-left: 60px;
}

.c1{
    background-color: #AD96DC;
    display: flex;
    align-items: center;
}

.imagen-1{
    height: 100%;
    width: 50%;
    margin-right: 10px;
}

.text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 45%;
    height: 100%;

}

.tc1{
    padding-top: 12%;
}

.hashtag{
    font-weight: bolder;
}

.c2{
    background-color: #E31C79;
    display: flex;
    align-items: center;
}

.tc2{
    padding-top: 12%;
    margin-right: 60px;
    margin-left: 20px;

}

.imagen-2{
    width: 50%;
    height: 100%;
}

.c3{
    background-color: #C12637;
    display: flex;
    align-items: center;
}

.imagen-3{
    height: 100%;
    width: 50%;
    margin-right: 10px;
}

.tc3{
    padding-top: 12%;
}

.c4{
    background-color: #1E3933;
    display: flex;
    align-items: center;
}

.imagen-4{
    width: 50%;
    height: 100%;
}

.tc4{
    padding-top: 6%;
}

.button-c4{
    margin-top: 20px;
    border-radius: 30px;
    border-color: white;
    background-color:transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:large;  
    width: 255px;
}

.c5{
    background-color: #F2F0EB;
    display: flex;
    align-items: center;
}

.text-5{
    padding-top: 11%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    width: 45%;
    height: 100%;
    margin-left: 20px;
    margin-right: 60px;
}

.button-c5{
    margin-top: 20px;
    border-radius: 30px;
    border-color: black;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
    width: 155px;
    height: 30px;

}

.imagen-5{
    width: 50%;
    height: 100%;
}

.c6{
    background-color: #006241;
    display: flex;
    align-items: center;
}

.imagen-6{
    width: 50%;
    height: 100%;
    margin-right: 35px;
}

.tc6{
    padding-top: 11%;
}

.sub-container{
    height: 787px;
    width: 1399px;
    margin-left: 60px;
    display: flex;
}

.leftside{
    width: 686px;
    height: 787px;
    margin-right: 30px;
    background-color: #EBC7C0;
}

.imagen-7{
    width: 100%;
}

.rightside{
    width: 686px;
    height: 787px;
    background-color: #204285;
}

.imagen-8{
    width: 100%;
}

.tc7{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    color: white;
    font-weight: bold;
}

.button-c7{
    margin-top: 35px;
    border-radius: 30px;
    color: white;
    background-color: transparent;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-color: white;
    font-size: medium;
}

.tc8{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.button-c8{
    margin-top: 35px;
    border-radius: 30px;    
    color: white;
    background-color: transparent;
    font-weight: bold;
    border-color: white;
    padding: 5px 10px 5px 10px;
    font-size:medium;


}